<main>
    <h3 class="m-5">Kő papír olló játék</h3>
    <form action="/game" method="post" class="col-6 offset-3 p-3 bg-light border border-dark rounded">
        <div class="mb-3">
            <label for="player" class="form-label">Name:</label>
            <input type="text" name="player" class="form-control">
        </div>
        <div class="mb-3">
            <label for="room" class="form-label">Szoba:</label>
            <input type="text" name="room" class="form-control">
        </div>
        <input type="submit" id="join" class="btn btn-success" value="Join">
    </form>
</main>
