<footer class="bg-dark text-light text-center">
    <p class="m-0">Made by ZB.</p>
</footer>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<% if (needsSocket) { %>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/socketio/socket.io.js"></script>
    <script src="/js/client.js"></script>
<% } %>
</div>
</body>
</html>